@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5f3f4;
  --nude: #f4978e;
  --wine: #880d1e;
  --raspberry: #ce4257;
  --red: #ad2831;
  --foreground-rgb: 0, 0, 0;
}

body {
  color: var(--wine);
  background: var(--background);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glassmorphism {
    background: theme('colors.background');
    border-bottom: 1px solid rgba(136, 13, 30, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
  }
}

.italic-serif {
  font-family: var(--font-bodoni);
  font-style: italic;
}
